.text-area {
  width: 20rem;
}

body {
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.area-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
